:root {
  //  //--bs-heading-color: #26263A;
  //  //--dark-grey: #666674;
  //  //--grey: #9999A2;
  //  //--grey-light: #E6E6E8;
  //  //--blue: #00A5AD;
  //  //--light: #CCCCD1;
  //  //--black: #000000;
  --tmp: 0;
}

//
//$font-weight-bolder: 800;
//
//
$primary: #777421;
$grey: #EEEEEE;
$grey-c1: #C1C1C1;
$dark-grey: #5E5E5E;
$green: #A6D447;
$yellow: #F1C658;

